.Layout{
    position: absolute;
    right: 5%;
    top: 5%;
    transform: translate(5%, 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Layout div.hidden{
    display: none;
}

.Layout div:nth-child(2){
    display: flex;
    align-items: flex-end;
}

.Layout div:nth-child(4){
    display: flex;
    align-items: center;
}

.Layout div img{
    max-width: 3vw;
}