@keyframes bossShowLayout {
    from{
        right: 5%;
        top: 5%;
        transform: translate(5%, 5%);
    }
    to{
        right: 10%;
        top: 7%;
        transform: translate(10%, 7%);
    }
}

.Layout{
    position: absolute;
    right: 5%;
    top: 5%;
    transform: translate(5%, 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.BossLayout{
    animation: bossShowLayout 0.6s cubic-bezier(0.71, 0.54, 0.5, 0.97) forwards;
}

.Layout div.hidden{
    display: none;
}

.Layout div:nth-child(2){
    display: flex;
    align-items: flex-end;
}

.Layout div:nth-child(4){
    display: flex;
    align-items: center;
}

.Layout div img{
    max-width: 3vw;
}