.card{
    max-width: 14vw;
    width: 14vw;
    border: 3px solid black;
    height: 23vh;
    margin: auto;
}

.card img{
    width: 15vw;
    cursor: pointer;
}

.card div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.card div span.hide{
    display: none;
}